body {
    background-color: aliceblue;
    border: solid firebrick;
    border-width: thick;
    border-radius: 20px;
}
hr {
    color: crimson;
}
h1 {
    text-align: center;
    font-family: sans-serif;
    color: midnightblue;
    font-size: 45px;
    margin: 10px;
}
.topnav {
    text-align: right;
}
ul {
    display: flex;
    text-align: center;
    font-family: sans-serif;
    flex-direction: row;
    justify-content: space-around;
    background: white;
    font-size: 15px;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    position: sticky;
    top: 0;
    width: 100%;
    border-top: solid firebrick;
    border-bottom: solid firebrick;
    overflow: auto;
    border-width: 3px;
}
li a {
    display: block;
    margin: 10px;
    padding: 10px;
    color: midnightblue;
    align-items: stretch;
    width: 150px;
    border: solid midnightblue;
    border-radius: 15px;
    text-decoration: none;
}
li a:hover {
    background: midnightblue;
    color: white;
}
.active {
    background: midnightblue;
    color: white;
}
h2 {
    text-align: center;
    font-family: sans-serif;
    color: midnightblue;
    font-size: 30px;
    margin: 2px;
}
.house {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    text-align: center;
    border-bottom: solid firebrick;
    border-width: 5px;
}
p {
    font-family: sans-serif;
    color: black;
    font-size: 17px;
}
section {
    display: flex;
    flex-direction: column;
    width: 66%;
}
.item {
    display: inline-block;
    background: white;
    padding: 15px;
    margin: 30px;
    border: solid firebrick;
    border-radius: 15px;
    border-width: 3px;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.row {
    display: inline-block;
    width: 30%;
    padding: 10px;
}